*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle/2.5/taskArtifacts/cache.properties

.gradle/2.5/taskArtifacts/taskArtifacts.bin

.gradle/2.5/taskArtifacts/outputFileStates.bin

.gradle/2.5/taskArtifacts/cache.properties.lock

.idea/*

.gradle/2.5/taskArtifacts/fileHashes.bin

.gradle/2.5/taskArtifacts/fileSnapshots.bin

.idea/compiler.xml

.idea/gradle.xml

.idea/modules.xml

gradle/wrapper/gradle-wrapper.properties
